---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    name: "Startup",
    price: "$125",
    popular: false,
    features: [
      "Custom, Detailed Reports",
      "Collaborative Shortlisting",
      "Up to 20 Domains",
      "Optional Onboarding Call",
      "Search Volume Analysis",
      "Keyword Reports",
      "Competition Analysis",
      "Trend Forecasting",
    ],
    button: {
      text: "Get Started",
      link: "mailto:will@officialdomains.com",
    },
  },
  {
    name: "Rush",
    price: "$250",
    popular: true,
    features: [
      "All Startup Features",
      "Up to 50 Domains",
      "Optional Onboarding Call",
      "Optional Premium Domains",
      "3 Day Turnaround",
      "Custom Reporting Available",
      "Trend Forecasting",
    ],
    button: {
      text: "Get Started",
      link: "mailto:will@officialdomains.com",
    },
  },
  {
    name: "Brokerage",
    price: "12%",
    popular: false,
    features: [
      "Sell & Buy Side",
      "Minimum $1,000 fee",
      "Expert Negotiations",
      "Cold Outreach Available",
      "Dedicated Support",
    ],
    button: {
      text: "Email Domains",
      link: "mailto:will@officialdomains.com",
    },
  },
];
---

<Layout title="Pricing">
  <script is:inline src="https://unpkg.com/mailgo@0.12.2/dist/mailgo.min.js"></script>
  <Container>
    <Sectionhead>
      <Fragment slot="title">Domain Acquisition</Fragment>
      <Fragment slot="desc">
        Simple Pricing. Email me to Get Started.
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
