---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import ReportsGrid from "@components/ReportsGrid.astro";
import FaqHead from "@components/FaqHead.astro";
// Filter report entries with 'draft: false' & date before current date
const publishedReportEntries = await getCollection("reports", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});

// Sort content entries by publication date
publishedReportEntries.sort(function (a, b) {
  return b.data.publishDate.valueOf() - a.data.publishDate.valueOf();
});
---

<Layout 
  title="Domain Reports & Analysis"
  description="Expert domain name analysis and market reports to help you make informed decisions about domain acquisitions.">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Domain Reports</Fragment>
      <Fragment slot="desc">
        In-depth analysis and insights for recently available domain names.
      </Fragment>
    </Sectionhead>
    
    <div class="mt-16 mb-16">
      <ReportsGrid reports={publishedReportEntries} />
    </div>
    <FaqHead />
  </Container>
</Layout>
