---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Premium Selection",
    description:
      ".com domains with proven search traffic and brand potential.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Name Exploration",
    description:
      "3 lists of names. Searchable, Brandable, & Personal Picks.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Market Analysis",
    description:
      "Data-driven selection based on current market trends.",
    icon: "bx:bxs-data",
  },
  {
    title: "Authority Metrics",
    description:
      "Deep-dive SEO analysis of each domain's potential.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Trend Forecasting",
    description:
      "Predict market movements before they impact domain value.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "ROI Assessment",
    description:
      "Clear value metrics for each Domain Name.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Everything You Need for a Winning Domain  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Your domain strategy shouldn't be left to chance. I've built the ultimate analysis to help you secure names that win.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
