---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/inter/index.css";
import '@fontsource-variable/bricolage-grotesque';

export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();
const resolvedImageWithDomain = new URL("/odh.png", Astro.site).toString();
const { title } = Astro.props;

const makeTitle = title
  ? `${title} | Official Domains`
  : "Official Domains - Find Your Perfect Domain Name";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    
    <!-- Analytics -->
    <script defer src="https://api.pirsch.io/pa.js"
      id="pianjs"
      data-code="k0Du16rMt4FZwrRc9ngLMv8Jn44mFsrD"></script>

    <SEO
      title={makeTitle}
      description="Official Domains helps businesses analyze and acquire domain names."
      canonical={canonicalURL}
      twitter={{
        creator: "@helloiamwilly",
        site: "@officialdomains",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `Official Domains - Find Your Perfect Domain Name`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "Official Domains Homepage Screenshot",
        },
      }}      
    />
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "url": "https://www.officialdomains.com",
        "name": "Official Domains",
        "description": "Expert domain name acquisition and brokerage services. Find the perfect domain name for your business with our expert domain name services."
      }
      </script>  
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      img {
        content-visibility: auto;
      }
      html {
        scroll-behavior: smooth;
      }
    </style>
  </body>
</html>
